#search-div {
  background-color: #212529;
  width: 60rem;
  height: 12rem;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    border-radius: 6px;
    width: 13rem;
    height: 2.5rem;
    font-size: 1.2rem;
  }
}

#coin-title {
  width: 100%;
}
#coin-table {
  margin-top: 5px;
  width: 100%;
}

#coin-menu-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.row {
  width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#coin-icon {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
